<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <form method="post" action="/filterBooks">
        <div class="form-group row">
            <div class="col-3">
                <div class="form-check">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="scifi" name="scifi">
                        <label class="form-check-label" for="scifi">Science Fiction</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="adventure" name="adventure">
                        <label class="form-check-label" for="adventure">Adventure</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="romance" name="romance">
                        <label class="form-check-label" for="romance">Romance</label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-check">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="historical" name="historical">
                        <label class="form-check-label" for="historical">Historical</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="horror" name="horror">
                        <label class="form-check-label" for="horror">Horror</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="fantasy" name="fantasy">
                        <label class="form-check-label" for="fantasy">Fantasy</label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-check">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="mystery" name="mystery">
                        <label class="form-check-label" for="mystery">Mystery</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="comic" name="comic">
                        <label class="form-check-label" for="comic">Comic</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="shortStories" name="shortStories">
                        <label class="form-check-label" for="shortStories">Short Stories</label>
                    </div>
                </div>
            </div>
            <div class="col-2"><br>
                <button type="submit" class="btn btn-dark float-right" name="filterBtn" id="filterBtn">Filter</button>
            </div>
        </div>

    </form>
</body>
</html>