<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome!</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/welcome.css"/>
</head>
<body>
<div id="bg" class="w3-animate-opacity bg"><br>
    <div id="backdoorEmployee" class="backdoorEmployee">
        <span id="employee"><a href="Librarian/Add_Book.html">Admin only...</a></span>
    </div>
    <div id="greeting" class="w3-animate-opacity">
        <span id="welcome">WELCOME!</span>
    </div>
    <br>
    <div id="enter" class="w3-animate-zoom">
        <span id="begin"><a href="Login_or_Register">LOGIN HERE!</a></span>
    </div>
</div>
</body>
</html>