body, html, h1 {
    height: 100%;
    margin: 0;
    font-family: "Century Gothic",monospace;
}

body{
    background: linear-gradient(to top right, #e8dfcc 10%, #ccbe93 90%);
}

#stockFormPage{
    width: 90%;
    min-height: 720px;
    background-color: #f5efe4;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#formContainer{
    padding:2%;
}

.move{
    left:2%;
}

#stockPennyCol, #sellPennyCol{
    right: 90px;
}

.decimal{
    font-size: 25px;
    right:10px;
}