body, html, h1, h4,h5 {
    height: 100%;
    margin: 0;
    font-family: "Century Gothic",monospace;
}

body{
    background: linear-gradient(to top right, #e8dfcc 0%, #ccbe93 100%);
}

button.btn{
    padding: 10px;
    margin:10px;
}

hr.line{
    border-top: 1px solid black;
}

a:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

#homePage{
    background-color: #f5efe4;
    width:95%;
    min-height:85%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.homeContainer{
    padding: 2%;
}