body, html, h1 {
    height: 100%;
    margin: 0;
    font-family: "Century Gothic",monospace;
}

h1{
    margin-top:20px;
    font-size: 35px;
    letter-spacing: 5px;
}

.fas{
    font-size: 50px;
}

#bg {
    background-image: url("../images/Library2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.optionRow, #exit{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    right: 0;
    left:0;
}

div.optionRow{
    top:40%;
}

.optionBox, #exit{
    background-color: #e8dfcc;
}

.optionBox{
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:200px;
    border-radius: 15px;
}

#exit{
    width:15%;
    height:10%;
    border-radius: 15px;
    top: 85%;
    font-size: 20px;
    letter-spacing: 3px;
    padding:20px;

}

a:hover {
    color: #fcfcf7;
}