body, h1,h2,h3,h4,h5,strong{
    font-family: "Century Gothic", monospace;
}

body{
    background: linear-gradient(to top right, #e8dfcc 21%, #ccbe93 100%);
}

.hidden{
    display: none;
}

#contactSupportPage{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 700px;
    background-color: #f5efe4;
    border-radius: 15px;
    margin-top: 20px;
}

#contactSupportContainer{
    padding:2%;
}

#msgBoard{
    width:95%;
    min-height: 650px;
    padding: 2%;
    border-radius: 15px;
    background-color: #fffbf2;
    display: inline-block;
}

#messages{
    overflow: auto;
}

.adminDiv, .customerDiv{
    display: inline-block;
    overflow: auto;
    padding:2%;
    min-width: 100px;
    min-height:50px;
    border-radius: 25px;
}


.adminDiv{
    float: right;
    background-color: #ffffff;
}

.customerDiv{
    background-color: #e8dfcc;
}