body, html, h1, h2, h3, h4,h5 {
    height: 100%;
    margin: 0;
    font-family: "Century Gothic",monospace;
}

body{
    background: linear-gradient(to top right, #e8dfcc 0%, #ccbe93 100%);
}

a:hover{
    color: #1B1B1B;
}

#accountDiv, #passwordDiv{
    margin-right:auto;
    margin-left: auto;
    background-color: #f5efe4;
    border-radius: 15px;
    min-height: 600px;
    top: 20px;

}

#message,#passwordMessage{
    color: orangered;
}

#accountDiv{
    width: 200px;
}

#passwordDiv{
    width:200px;
}


.container{
    padding: 2%;
}
