body, html, h1, h2, h3, h4,h5 {
    height: 100%;
    margin: 0;
    font-family: "Century Gothic",monospace;
}

body{
    background: linear-gradient(to top right, #e8dfcc 0%, #ccbe93 100%);
}

a:hover{
    color: #1B1B1B;
}
img{
    width:350px;
    height: 350px;
    top-margin:5%;
    border-radius: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#viewBookPage{
    background-color: #f5efe4;
    width:90%;
    min-height:90%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#bookContainer{
    padding: 5%;
}

#synopsis{font-size:20px;}

label{
    margin:1%;
    font-size:20px;
    text-align: right;
}

#bookID{display:none;}